<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>435955545588-opd859vi0mb5m7ukk0mtr9h0sjs4608g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435955545588-opd859vi0mb5m7ukk0mtr9h0sjs4608g</string>
	<key>API_KEY</key>
	<string>AIzaSyAo1Ee9hPHlbjGy5XjmUiPtqy2xVrw_E6A</string>
	<key>GCM_SENDER_ID</key>
	<string>435955545588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orbis.app</string>
	<key>PROJECT_ID</key>
	<string>orbis-7b9a7</string>
	<key>STORAGE_BUCKET</key>
	<string>orbis-7b9a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435955545588:ios:c1ad4ed25a1168c3</string>
	<key>DATABASE_URL</key>
	<string>https://orbis-7b9a7.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6738139926979321~9820174532</string>
</dict>
</plist>